<li>
  <div class="col-md-6">
    <h2>Project Title</h2>
  </div>

  	<div class="col-md-2">
  	  <h2>Positive</h2>
	</div>

	<div class="col-md-2">
  	  <h2>Neutral</h2>
  </div>

  	<div class="col-md-2">
  	  <h2>Negative</h2>
  	</div>
</li>
