<h1>About</h1>
<p>
  This app is designed for the allotment of projects to the students who will register for course 606(Software Engineering). The git hutb repository to this project is <a href="https://github.com/Prannay/Project-Collection-and-Assignment">Software Engineering Project Git.</a> Details of the contacts can be found in contacts page.
</p>
