<h1>Help</h1>
<p>
  Steps for students:
</p>
<div  >
    <li id="one">First, go to "Signup" page and create an account </li>
    <li id="two">Once you sign up, you can use those details to login </li>
    <li id="three">After login, you can select a team name and select your team members. Team size should not exclude 6 members</li>
    <li id="four">When the teams are approved by the professor, one from each team can select top and bottom 5 projects according to the team priority</li> 
    <li id="five">Once the deadline is passed, the professor allotes projects to all the teams </li>
    <li id="six">Project is finally assigned and you are good to start your project </li>
    <li id="six">All the best !!! </li>
  </ol>
</div>

<p>
  Steps for clients:
</p>
<div  >
    <li id="one">The clients can directly go to "Add a project" page to add their project </li>
    <li id="two">All the details regarding the project are mandatory </li>
    <li id="three">Once the details are added, just submit the project and you are good to go</li>
  </ol>
</div>
