<div class="center jumbotron">
  <h1>Welcome to the Pro Assign App</h1>

  <h2>
    If you are a new student, please sign up.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

