<div class="center jumbotron">
 

  <% if logged_in? %>
  <b>Howdy  <%= current_user.name%> !! </b>
<% else %> 	        

  <h2>Welcome to the </h2>
  <h1>Project Submission <br/>and <br/>Assignment  System</h1>
    <h2>
    If you are a new student, please sign up.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<% end%>


</div>

