<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

</div>
</div>