<li>
  <%= link_to project.title, project %>
  <% if current_user.admin? %>
    | <%= link_to "Edit", edit_project_path(project) %>
    | <%= link_to "Delete", project, method: :delete,
                                     data: { confirm: "You sure?" } %>
  <% end %>
</li>
