<% provide(:title, 'Peer Evaluation Result') %>
<h1>Peer Evaluation Result</h1>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Team</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <% @all_pe.each do |pe| %>
                    <tr>
                        <td> <%= link_to "#{pe[0]}", peer_evaluation_path(:check_one_user_peer_evaluation => "#{pe[4]}") %> </td>
                        <td> <%= link_to "#{pe[1]}", peer_evaluation_path(:check_team_peer_evaluation => "#{pe[5]}") %> </td>
                        <td> <%= pe[2] %> </td>
                        <td>
                            <% pe[3].each do |comment| %>
                             <%= comment %> <br/>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

    </div>
</div>
