<footer class="footer">
  <small>
    Source code available at <a target="new" href="https://github.com/Prannay/Project-Collection-and-Assignment">GitHub</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
